/*Font family*/
body {
  font-family: "Roboto", sans-serif;
  margin-top: 70px;
}
section {
  margin: 10px 250px;
}
.make-flexible {
  display: flex;
}

h1 {
  font-size: 60px;
  padding-left: 15px;
}

/*for vertical line*/
.v-line {
  border-left: 5px solid navy;
  padding: 0px;
}
.v-line h1 {
  margin: 0px;
}
.name-color {
  color: tomato;
}

p {
  text-align: justify;
  line-height: 20px;
  font-size: 14px;
}
#spacep {
  padding-bottom: 10px;
}
.standard-width {
  width: 50%;
}
#fspace {
  margin-top: 150px;
}

.standard-width1 {
  width: 33%;
}
.standard-width2 {
  width: 67%;
  padding-top: 40px;
}

.standard-width3 {
  width: 33%;
  padding-top: 40px;
}

.standard-width2 h2 {
  font-size: 40px;
  margin: 3px;
}

.standard-width2 p {
  font-size: 15px;
  margin: 0px;
}

#p-img {
  padding-left: 400px;
}
.button-design {
  text-decoration: none;
  background-color: navy;
  padding: 10px 50px;
  color: white;
  border-radius: 5px;
}

.big-button-design {
  text-decoration: none;
  background-color: navy;
  padding: 10px 100px;
  color: white;
  border-radius: 5px;
}
.titlecenter {
  text-align: center;
  font-size: 45px;
}

#space {
  padding-top: 15px;
  font-weight: 400;
}

#cspace {
  padding-top: 50px;
}
.skills {
  padding: 25px;

  border-radius: 5px;

  margin: 12px;
}

#web {
  background-color: #eef6f7;
}

.skills p {
  font-size: 15px;
}
#graphic {
  background-color: lightyellow;
}
#programming {
  background-color: #feeeee;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
  color: white;
}
#alignmentp {
  text-align: center;
}
#missionfooter {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.centeri {
  padding-left: 37%;
}
