/*Font family*/
body {
  font-family: "Roboto", sans-serif;
  margin-top: 70px;
}
section {
  margin: 10px 100px;
}
.make-flexible {
  display: flex;
}

h1 {
  font-size: 60px;
  padding-left: 15px;
}

/*for vertical line*/
.v-line {
  border-left: 5px solid navy;
}
#name-color {
  color: tomato;
}

p {
  text-align: justify;
  line-height: 20px;
  font-size: 13px;
}
#spacep {
  padding-bottom: 10px;
}
.standard-width {
  width: 50%;
}

#p-img {
  padding-left: 400px;
}
.button-design {
  text-decoration: none;
  background-color: navy;
  padding: 10px 50px;
  color: white;
  border-radius: 5px;
}
.titlecenter {
  text-align: center;
  font-size: 45px;
}

#space {
  padding-top: 15px;
  font-weight: 400;
}

.skills {
  padding: 25px;

  border-radius: 5px;

  margin: 12px;
}

#web {
  background-color: #eef6f7;
}

.skills p {
  font-size: 11px;
}
#graphic {
  background-color: lightyellow;
}
#programming {
  background-color: #feeeee;
}
